<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Postagens NODE.js</title>
</head>
<body>
    {{{body}}}
    <style>
        input, textarea, label, button {
            display: block;
            margin: 20px 10px;
        }
    </style>
</body>
</html>